<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>О нас</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" language="javascript" src="js/jquery-latest.pack.js" ></script>
		<script type="text/javascript" language="javascript" src="js/jquery.suSlider.js" ></script>
        <script type="text/javascript" language="javascript"  >
              $(document).ready(function(){ 
              $("#sildercontent").suSlider({
              mode: "fade",
              speed: 1000,
              select:12000,
              auto:true,
              wrapper_class: "portfolio_container"
              }); 
              });
        </script>
    </head>
    <body>
        <div id="wrapper">
		   <div class="header">
		        <a class="logo" href="#"><img src="images/logo.png" alt="Авангард Техцентр" /></a>
			        <div class="zap">
			            <span>Запишись на техосмотр в Авангард</span>
			            <br />
			            <a class="more" href="#">Подробнее...</a>
			        </div> 
			    <div class="contact">
			        <span class="address">г. Москва, ул. Миклухо-маклая, 15/3.</span>
			        <div class="phone">
			            8 (495) 434-00-30
				        <br />
				        8 (965) 197-67-67
			        </div>
			    </div> 
		    </div> <!-----header---->
		   
		   <div class="main_menu">
		        <ul>
			        <li>
			            <a href="#">Главная</a>
			        </li>
			        <li>
			            <a href="#">Услуги</a>
			        </li>
			        <li>
			            <a href="#">Корпоративным клиентам</a>
			        </li>
			        <li>
			            <a href="#">Акции</a>
			        </li>
					<li>
			            <a href="#">Статьи</a>
			        </li>
			        <li>
			            <a href="#">Блог</a>
			        </li>
			        <li class="current">
			            <a href="#">О нас</a>
			        </li>
			        <li>
			            <a href="#">Контакты</a>
			        </li>
			    </ul>
		    </div><!-----main_menu---->
		   
			<div class="content">
				<div class="left">
					<div class="left_menu">
						<ul>
							<li>
								<a href="#"><h4>Статьи</h4></a>
								<ul>
									<li class="current">
										<a href="#">О нас</a>
									</li>
									<li>
										<a href="#">Партнеры</a>
									</li>
									<li>
										<a href="#">Пункт3</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!--left_menu--->
			   
					<div class="left_a_one">
						<span>Подпишись на Спец. предложения в “АВАНГАРД”</span>
						<input type="text" placeholder="Ваш e-mail"/>
						<a class="more" href="#">Подписаться</a>
					</div>
					<div class="left_a_two">
						<span>Запишись на диагностику ON_LINE</span>
						<a class="more" href="#">Далее</a>
					</div>
				</div><!-------left------>
			
				<div class="right">
					<h1>Автотехцентр «Авангард»: выбирайте лучший современный автосервис ЮЗАО</h1>
						<div class="content_in">
							<p>Любой столичный житель, являющийся автовладельцем, вынужден время от времени обращаться к специалистам по тому или иному вопросу, касающемуся транспортного средства, будь-то диагностика или ремонт. А качественная диагностика и ремонт по разумным ценам, к тому же рядом с домом – очень удобный и выгодный вариант подлатать своего железного коня. Вряд ли вы поедете в другой район города в автосервис, который посоветовал ваш приятель…. Да и сделал он это, скорее всего, потому, что сам живет недалеко от него и периодически пользуется услугами местных сотрудников.</p>
							<p>Каждый водитель знает, как важно заранее знать, какой автосервис ЮЗАО окажет необходимую помощь. Если их здесь много, это не значит, что каждый может экстренно или запланировано оказать необходимую услугу – некоторые специализируются на обслуживании автомобилей определенных марок. А потому лучше на будущее определиться с тем, какой автосервис ЮЗАО станет вашим первым помощником в ситуации, когда вашему автомобилю потребуется ремонт или диагностика.</p>
							<h5>Преимущества нашего автосервиса ЮЗАО:</h5>
							<p>Не секрет, что автосервис ЮЗАО «Авангард» знаком многим автовладельцам Юго-Западного административного округа Москвы. Наши услуги популярны благодаря умеренным ценам, широкому ассортименту и быстроте технического обслуживания. Кроме того, у нас есть собственный склад запчастей, уютное кафе и клиентская зона с бесплатным интернетом, где можно скоротать время ожидания ремонта вашего автомобиля. Автосервис ЮЗАО «Авангард» - это:</p>
							<p>
							  • Профессиональные консультации специалистов; <br />
							  • Диагностика автомобиля и компьютерная диагностика двигателя;<br />
							  • Ремонт автомобиля (замена сцепления, ремонт подвески, сцепления,<br />
							  • Электрооборудования, сход-развал, кузовной ремонт, заправка кондиционера, регулировка фар, промывка инжектора и многое другое);<br />
							  • Подготовка автомобиля к прохождению государственного техосмотра.
							</p>
							<h5>Автосервис ЮЗАО «Авангард» гарантирует вам:</h5>
							<p>
							  • Надежность.<br />
							  • Качество. Все работы ведут только опытные специалисты на самом современном и качественном оборудовании.<br />
							  • Выгодность. Своим клиентам мы предлагаем разумные цены и индивидуальный подход в каждом отдельном случае.<br />
							  • Удобство. Скоротать время ремонта вашего автомобиля вы можете в комфортной клиентской зоне с бесплатным интернетом или уютном кафе.
							</p>
							<p><strong>Автосервис ЮЗАО «Авангард»: мы позаботимся о безопасности и комфорте вашего автомобиля.</strong></p>
				  			      
						</div><!-------content_in1------>
						
						<div class="content_in">
							<div class="time">
								<strong>Время работы:</strong><br />
								пн-сб 8.00–17.00 (без перерывов)<br />
								вс – выходной
							</div>
						
							<div class="address">
								<strong>Наш адрес: </strong><br />
								г. Москва, ул. Миклухо-маклая, 15/3.
								<ul class="phone">
									<li>
										8 (495) 434-00-30
									</li>
									<li>
										8 (965) 197-67-67
									</li>
								</ul>
							</div>
				 
						</div><!-------content_in2------>
				</div><!-------RIGHT------>
				<div class="clear"></div>
			
				<div class="after">
				
						<div id="silder">
							<div id="sildercontent">
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>Неприятность, которая происходит из-за повреждения или износа. Наиболее надежным методом устранения данной неисправности является пайка. Ни холодная сварка, ни герметики в подобной ситуации не способны решить проблему столь эффективно.</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
		  
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>2</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
								
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>3</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
							</div>
							
							<div id="sildernav">
								<ul id="slnav">
									<li class="slnav active"><span></span></li>
									<li class="slnav"><span></span></li>
									<li class="slnav"><span></span></li>
								</ul> 
							</div>
							
							<div class="clear"></div>
						</div><!-----slider---->
			   
			   
				</div><!-----after---->
			</div><!-----content---->
		   
			<div class="footer">
				<span>АВАНГАРД 2013 © Все права защищены</span>
			</div>
		   
		</div><!-----wrapper---->
    </body>
</html>