<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Статьи Замена масла и фильтров</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" language="javascript" src="js/jquery-latest.pack.js" ></script>
		<script type="text/javascript" language="javascript" src="js/jquery.suSlider.js" ></script>
        <script type="text/javascript" language="javascript"  >
              $(document).ready(function(){ 
              $("#sildercontent").suSlider({
              mode: "fade",
              speed: 1000,
              select:12000,
              auto:true,
              wrapper_class: "portfolio_container"
              }); 
              });
        </script>
    </head>
    <body>
        <div id="wrapper">
			<div class="header">
		        <a class="logo" href="#"><img src="images/logo.png" alt="Авангард Техцентр" /></a>
			        <div class="zap">
			            <span>Запишись на техосмотр в Авангард</span>
			            <br />
			            <a class="more" href="#">Подробнее...</a>
			        </div> 
			    <div class="contact">
			        <span class="address">г. Москва, ул. Миклухо-маклая, 15/3.</span>
			        <div class="phone">
			            8 (495) 434-00-30
				        <br />
				        8 (965) 197-67-67
			        </div>
			    </div> 
		    </div> <!-----header---->
		   
			<div class="main_menu">
		        <ul>
			        <li>
			            <a href="#">Главная</a>
			        </li>
			        <li>
			            <a href="#">Услуги</a>
			        </li>
			        <li>
			            <a href="#">Корпоративным клиентам</a>
			        </li>
			        <li>
			            <a href="#">Акции</a>
			        </li>
					<li class="current">
			            <a href="#">Статьи</a>
			        </li>
			        <li>
			            <a href="#">Блог</a>
			        </li>
			        <li>
			            <a href="#">О нас</a>
			        </li>
			        <li>
			            <a href="#">Контакты</a>
			        </li>
			    </ul>
		    </div><!-----main_menu---->
		   
			<div class="content">
				<div class="left">
					<div class="left_menu">
						<ul>
							<li>
								<a href="#"><h4>Статьи</h4></a>
								<ul>
									<li class="current">
										<a href="#">Замена масла и фильтров</a>
									</li>
									<li>
										<a href="#">Тормозная жидкость</a>
									</li>
									<li>
										<a href="#">Обслуживание системы охлаждения двигателя</a>
									</li>
									<li>
										<a href="#">Чистка колесных дисков</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!--left_menu--->
					
					<div class="left_a_one">
						<span>Подпишись на Спец. предложения в “АВАНГАРД”</span>
						<input type="text" placeholder="Ваш e-mail"/>
						<a class="more" href="#">Подписаться</a>
					</div>
					<div class="left_a_two">
						<span>Запишись на диагностику ON_LINE</span>
						<a class="more" href="#">Далее</a>
					</div>
				</div><!-------left------>
			 
				<div class="right">
					<h1>Замена масла и фильтров</h1>
						<div class="content_in">
							<p>Наш техцентр рекомендует менять масло в ДВС каждые 5 000-7 000 км - это продлит ресурс двигателя и его надежность.</p>
							<p>В дизельых двигателях масло рекомендуется менять каждые 5 000 км. </p>
							<p>Не смотря на рекомендации официальных дилеров, более частая замена масла будет только в пользу двигателю Вашего автомобиля, т.к. пока машина на гарантии (2 года или 100 000 км) вся ответственность за работу двигателя лежит на официальном дилере, но замена масла раз в 15000- это всего лишь маркетинговый ход, т.к. по статистике большинство машин редко проезжают более 30 000 км в год, а соответственно большее количество автовладельцев сталкиваются с проблемой поломки двигателя уже после истечения гарантии, что в свою приводит к дорогостоящему ремонту за счет автовладельца.</p>
							<p>Замена масла раз в 15 000 км возможна при эксплуатации автомобиля в идеальных условиях, о которых принято вспоминать, когда производитель автомобиля пишет о расходе топлива. Но как Вы понимаете, в городе достичь идеальных условий практически невозможно, т.к. эксплуатация автомобиля в городе зачастую связана с малыми пробеги, загрязнениями на дорогах и многочасовыми пробками (при которых двигатель работает большую часть времени на холостом ходу) поэтому как и с расходом топлива, так и с ресурсом двигателя автовладелец остается один на один и решает эти проблемы за свой счет.</p>
							<img src="images/audi.jpg" alt="" />
							<p>Более редкая замена масла в двигателе приводит к ухудшению смазывающих свойств масла и образованию масляных отложений, что грозит износом поршневой группы и преждевременным выходом ее из строя, что повлечет потерю мощности, повышенному расходу топлива, угоранию масла и дорогостоящему ремонту ДВС.</p>
							<p>Не стоит забывать о качестве масляного фильтра. т.к. благодаря ему фильтруются загрязняющие примеси, которые возникают при сгорании топлива. </p>
							<p>В нашем техцентре имеется специальная установка, которая позволяет с помощью давления выкачивать масло из двигателя, что экономит время по сравнению с привычной всем процедурой слива масла.</p>
							<p>У нас Вы можете приобрести синтетическое масло Mobil и Castrol, а также масляные фильтры для всех моделей марок Mercedes, Toyota и Lexus, что позволит заменить масло в двигателе Вашего автомобиля без хлопот и лишней траты времени.</p>
							<h3>Замена фильтров.</h3>
							<p>Воздушный фильтр необходимо менять один раз в 15 000 км. Более редкая замена приведет к попаданию пыли в камеру сгорания двигателя и масло, а климатические условия и загрязненность наших дорог говорят сами за себя.</p>
							<img src="images/filtr.jpg" alt="" />
							<p>Загрязненный воздушный фильтр- это опасность для двигателя, которая проявит себя со временем. Повышенный расход топлива, затрудненный пуск двигателя, потеря мощности немногие признаки загрязненного воздушного фильтра.</p>
							<p>Топливный фильтр очищает бензин от вредных примесей, таких как пыль, ржавчина и прочие вредные частицы. На большинстве современных автомобилях подача топлива происходит под высоким давлением через форсунки. В такой топливной системе фильтрация играет важную роль. Так как качество бензина в</p>
							<img src="images/filtr_salon.jpg" alt="" />
							
							<div class="link_in">
								<div class="soc_link">
									<span>Поделиться:</span>
									<a class="face" href="#"></a>
									<a class="vk" href="#"></a>
									<a class="tw" href="#"></a>
									<a class="in" href="#"></a>
								</div>
							</div>
							
							<h2>Замена фильтров</h2>
							<ul class="car">
								<li>
									<a href="#">
										<img src="images/car.jpg" alt="" />
										<span>01 Фильтры</span>
									</a>
								</li>
							</ul>
						</div><!-------content_in------>
			   
				</div><!-------right------>
				<div class="clear"></div>
				
				<div class="after">
				
						<div id="silder">
							<div id="sildercontent">
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>Неприятность, которая происходит из-за повреждения или износа. Наиболее надежным методом устранения данной неисправности является пайка. Ни холодная сварка, ни герметики в подобной ситуации не способны решить проблему столь эффективно.</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
		  
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>2</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
								
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>3</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
							</div>
							
							<div id="sildernav">
								<ul id="slnav">
									<li class="slnav active"><span></span></li>
									<li class="slnav"><span></span></li>
									<li class="slnav"><span></span></li>
								</ul> 
							</div>
							
							<div class="clear"></div>
						</div><!-----slider---->
			   
			   
				</div><!-----after---->
			</div><!-----content---->
		   
			<div class="footer">
				<span>АВАНГАРД 2013 © Все права защищены</span>
			</div>
		   
		</div><!-----wrapper---->
    </body>
</html>