<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Услуги Ремонт Mazda CX-7</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" language="javascript" src="js/jquery-latest.pack.js" ></script>
		<script type="text/javascript" language="javascript" src="js/jquery.suSlider.js" ></script>
        <script type="text/javascript" language="javascript"  >
              $(document).ready(function(){ 
              $("#sildercontent").suSlider({
              mode: "fade",
              speed: 1000,
              select:12000,
              auto:true,
              wrapper_class: "portfolio_container"
              }); 
              });
        </script>
    </head>
    <body>
        <div id="wrapper">
			<div class="header">
		        <a class="logo" href="#"><img src="images/logo.png" alt="Авангард Техцентр" /></a>
			        <div class="zap">
			            <span>Запишись на техосмотр в Авангард</span>
			            <br />
			            <a class="more" href="#">Подробнее...</a>
			        </div> 
			    <div class="contact">
			        <span class="address">г. Москва, ул. Миклухо-маклая, 15/3.</span>
			        <div class="phone">
			            8 (495) 434-00-30
				        <br />
				        8 (965) 197-67-67
			        </div>
			    </div> 
		    </div> <!-----header---->
		   
			<div class="main_menu">
		        <ul>
			        <li>
			            <a href="#">Главная</a>
			        </li>
			        <li class="current">
			            <a href="#">Услуги</a>
			        </li>
			        <li>
			            <a href="#">Корпоративным клиентам</a>
			        </li>
			        <li>
			            <a href="#">Акции</a>
			        </li>
					<li>
			            <a href="#">Статьи</a>
			        </li>
			        <li>
			            <a href="#">Блог</a>
			        </li>
			        <li>
			            <a href="#">О нас</a>
			        </li>
			        <li>
			            <a href="#">Контакты</a>
			        </li>
			    </ul>
		    </div><!-----main_menu---->
		   
			<div class="content">
				<div class="left">
					<div class="left_menu">
						<ul>
							<li>
								<a href="#"><h4>Услуги</h4></a>
								<ul>
									<li class="current">
										<a href="#">Прайс-лист</a>
									</li>
									<li>
										<a href="#">Техническое обслуживание</a>
									</li>
									<li>
										<a href="#">Автосервис и запчасти</a>
									</li>
									<li>
										<a href="#">Пневмо балоны Арнотт</a>
									</li>
									<li>
										<a href="#">Государственный техосмотр</a>
									</li>
									<li>
										<a href="#">Диагностика автомобееиля</a>
									</li>
									<li>
										<a href="#">Ремонт тормозных суппортов</a>
									</li>
									<li>
										<a href="#">Заправка и дезенфикация кондиционера</a>
									</li>
									<li>
										<a href="#">Ремонт двигателей Mercedes</a>
									</li>
									<li>
										<a href="#">Ремонт Дизельных двигателей Mercedes</a>
									</li>
									<li>
										<a href="#">Ремонт Mazda CX-7</a>
									</li>
									<li>
										<a href="#">Замена автостекол</a>
									</li>
									<li>
										<a href="#">Техосмотр</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!--left_menu--->
					<div class="left_a_one">
						<span>Подпишись на Спец. предложения в “АВАНГАРД”</span>
						<input type="text" placeholder="Ваш e-mail"/>
						<a class="more" href="#">Подписаться</a>
					</div>
					<div class="left_a_two">
						<span>Запишись на диагностику ON_LINE</span>
						<a class="more" href="#">Далее</a>
					</div>
				</div><!-------left------>
				<div class="right">
					<h1>Ремонт Mazda CX-7</h1>
						<div class="content_in">
							<p>Mazda CX-7 - полноприводный кроссовер с бензиновым турбомотором. Благодаря турбине данный двигатель обеспечивает мощность в 238 л.с. а максимальный крутящий момент 350 Нм/мин-1 достигается уже при 2500 об/мин. Благодаря таким характеристикам двигателя данный автомобиль можно считать по праву спортивным кроссовером. Но не стоит забывать о своевременном техническом обслуживании!</p>
							<p>Из основных причин поломки турбокомпрессора следует отметить следующие:</p>
							<p>	• неправильная эксплуатация автомобиля, после поездки требуется время для охлаждения турбины<br />
								• попадание масла в турбокомпрессор, что происходит из-за  забитой системы вентиляции отработанных картерных газов<br />
								• плохое качество масла и масляного фильтра и их редкая замена (более 7000 км) 
							</p>
							<h3>Турбина требует к себе особого внимания.</h3>
							<p>Ресурс турбины 100 000-150 000 км, но для такого ресурса требуется бережная эксплуатация.</p>
							<p>Мы рекомендуем: </p>
							<p>	• Установить турбо-таймер, что позволит без траты своего времени охладить турбину после поездки.<br />
								• Менять масло и масляный фильтр не реже 5000 км, что значительно продлит ресурс двигателя и турбины, а также использовать качественные расходные материалы и проверенное масло.<br />
								• еженедельно проверять уровень масла, т.к. данная процедура в последствии может решить множество проблем, начиная от замены турбины и заканчивая переборкой двигателя.<br />
								• Раз в полгода проводить технический осмотр двигателя, а именно проверить компрессию в цилиндрах, работу системы выпуска отработанных газов, натяжение цепи.<br />
								• По возможности заправляться качественным бензином, желательно АИ98.
							</p>
							<h4>Соблюдая все эти несложные рекомендации, Вы гарантируете долгосрочную работу Вашего автомобиля, в частности продлеваете срок службы двигателя с турбокомпрессором.</h4>
							<h3>Наш техцентр кроме обслуживания предлагает и ремонт автомобилей Мазда СХ-7:</h3>
							<p>	• Замена цепи ГРМ  <br />
								• Замена турбокомпрессора<br />
								• Переборка турбокомпрессора<br />
								• Переборка ДВС. 
							</p>
							<p>Данный автомобиль обслуживали 2007 года, обслуживался по гарантии у дилера каждые 15 000 км. Пробег около 70 000 км. Клиент обратился к нам с жалобами на плохую тягу и ошибкой Check engine. В последствии отказ турбины и доставка автомобиля на эвакуаторе.</p>
							<p>Было сделано:</p>
							<p>	• Частичная переборка двигателя (замена вкладышей, поршневых колец, комплект прокладок, сальников, уплотнителей двигателя)<br />
								• Мойка деталей двигателя<br />
								• Ремонт турбины<br />
								• Замена трубки подачи масла в турбокомпрессор<br />
								• Замена масла, фильтра и охлаждающей жидкости<br />
								• Мойка деталей двигателя<br />
								• Мойка радиатора
							</p>
							<h2>Mazda CX-7</h2>
							
							<ul class="car">
								<li>
									<a href="#">
										<img src="images/car.jpg" alt="" />
										<span>01 Снятие поддона кар...</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/car.jpg" alt="" />
										<span>01 Снятие поддона кар...</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/car.jpg" alt="" />
										<span>01 Снятие поддона кар...</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/car.jpg" alt="" />
										<span>01 Снятие поддона кар...</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/car.jpg" alt="" />
										<span>01 Снятие поддона кар...</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/car.jpg" alt="" />
										<span>01 Снятие поддона кар...</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/car.jpg" alt="" />
										<span>01 Снятие поддона кар...</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/car.jpg" alt="" />
										<span>01 Снятие поддона кар...</span>
									</a>
								</li>
							</ul>
						</div><!-------Content_in------>
			   
						<div class="link">
							<div class="our_work">
								Примеры наших работ <a class="more" href="#">Подробнее...</a>
							</div>
							<div class="soc_link">
								<span>Поделиться</span>
								<a class="face" href="#"></a>
								<a class="vk" href="#"></a>
								<a class="tw" href="#"></a>
								<a class="in" href="#"></a>
							</div>
						</div>
				</div><!-------right------>
				<div class="clear"></div>
				
				<div class="after">
				
						<div id="silder">
							<div id="sildercontent">
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>Неприятность, которая происходит из-за повреждения или износа. Наиболее надежным методом устранения данной неисправности является пайка. Ни холодная сварка, ни герметики в подобной ситуации не способны решить проблему столь эффективно.</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
		  
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>2</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
								
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>3</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
							</div>
							
							<div id="sildernav">
								<ul id="slnav">
									<li class="slnav active"><span></span></li>
									<li class="slnav"><span></span></li>
									<li class="slnav"><span></span></li>
								</ul> 
							</div>
							
							<div class="clear"></div>
						</div><!-----slider---->
			   
			   
				</div><!-----after---->
			</div><!-----content---->
		   
			<div class="footer">
				<span>АВАНГАРД 2013 © Все права защищены</span>
			</div>
		   
		</div><!-----wrapper---->
    </body>
</html>