<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Услуги прайс-лист</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" language="javascript" src="js/jquery-latest.pack.js" ></script>
		<script type="text/javascript" language="javascript" src="js/jquery.suSlider.js" ></script>
        <script type="text/javascript" language="javascript"  >
              $(document).ready(function(){ 
              $("#sildercontent").suSlider({
              mode: "fade",
              speed: 1000,
              select:12000,
              auto:true,
              wrapper_class: "portfolio_container"
              }); 
              });
        </script>
    </head>
    <body>
        <div id="wrapper">
			<div class="header">
		        <a class="logo" href="#"><img src="images/logo.png" alt="Авангард Техцентр" /></a>
			        <div class="zap">
			            <span>Запишись на техосмотр в Авангард</span>
			            <br />
			            <a class="more" href="#">Подробнее...</a>
			        </div> 
			    <div class="contact">
			        <span class="address">г. Москва, ул. Миклухо-маклая, 15/3.</span>
			        <div class="phone">
			            8 (495) 434-00-30
				        <br />
				        8 (965) 197-67-67
			        </div>
			    </div> 
		    </div> <!-----header---->
		   
			<div class="main_menu">
		        <ul>
			        <li>
			            <a href="#">Главная</a>
			        </li>
			        <li class="current">
			            <a href="#">Услуги</a>
			        </li>
			        <li>
			            <a href="#">Корпоративным клиентам</a>
			        </li>
			        <li>
			            <a href="#">Акции</a>
			        </li>
					<li>
			            <a href="#">Статьи</a>
			        </li>
			        <li>
			            <a href="#">Блог</a>
			        </li>
			        <li>
			            <a href="#">О нас</a>
			        </li>
			        <li>
			            <a href="#">Контакты</a>
			        </li>
			    </ul>
		    </div><!-----main_menu---->
		   
			<div class="content">
				<div class="left">
					<div class="left_menu">
						<ul>
							<li>
								<a href="#"><h4>Услуги</h4></a>
								<ul>
									<li class="current">
										<a href="#">Прайс-лист</a>
									</li>
									<li>
										<a href="#">Техническое обслуживание</a>
									</li>
									<li>
										<a href="#">Автосервис и запчасти</a>
									</li>
									<li>
										<a href="#">Пневмо балоны Арнотт</a>
									</li>
									<li>
										<a href="#">Государственный техосмотр</a>
									</li>
									<li>
										<a href="#">Диагностика автомобееиля</a>
									</li>
									<li>
										<a href="#">Ремонт тормозных суппортов</a>
									</li>
									<li>
										<a href="#">Заправка и дезенфикация кондиционера</a>
									</li>
									<li>
										<a href="#">Ремонт двигателей Mercedes</a>
									</li>
									<li>
										<a href="#">Ремонт Дизельных двигателей Mercedes</a>
									</li>
									<li>
										<a href="#">Ремонт Mazda CX-7</a>
									</li>
									<li>
										<a href="#">Замена автостекол</a>
									</li>
									<li>
										<a href="#">Техосмотр</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!--left_menu--->
					<div class="left_a_one">
						<span>Подпишись на Спец. предложения в “АВАНГАРД”</span>
						<input type="text" placeholder="Ваш e-mail"/>
						<a class="more" href="#">Подписаться</a>
					</div>
					<div class="left_a_two">
						<span>Запишись на диагностику ON_LINE</span>
						<a class="more" href="#">Далее</a>
					</div>
				</div><!-------left------>
				<div class="right">
					<h1>Прайс-лист</h1>
						<div class="content_in">
			   
							<div class="save">
								<span>Скачать прайс-лист:</span> 
								<a class="doc" href="#"></a>
								<a class="xls" href="#"></a>
							</div>
								<table>
									<tbody>
										<tr>
											<td>
												Перечень работ
											</td>
											<td>
												Малый, средний, бизнес класс
											</td>
											<td>
												Представительский класс, минивэны
											</td>
											<td>
												Внедорожные, кроссоверры, SUV и т.п.
											</td>
											<td>
												Коммерческие и малотоннажные грузовики
											</td>
										</tr>
										<tr>
											<td>
												Инструментальная диагностика подвески
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
										</tr>
										<tr>
											<td>
												Компьютерная диагностика
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
										</tr>
										<tr>
											<td>
												Замена масла и маслянного фильтра в двигателе
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
										</tr>
										<tr>
											<td>
												Компьютерная диагностика
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
										</tr>
										<tr>
											<td>
												Замена масла и маслянного фильтра в двигателе
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
										</tr>
										<tr>
											<td>
												Компьютерная диагностика
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
										</tr>
										<tr>
											<td>
												Замена масла и маслянного фильтра в двигателе
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
										</tr>
										<tr>
											<td>
												Компьютерная диагностика
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
										</tr>
										<tr>
											<td>
												Замена масла и маслянного фильтра в двигателе
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
										</tr>
										<tr>
											<td>
												Компьютерная диагностика
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
											<td>
												750,00
											</td>
										</tr>
										<tr>
											<td>
												Замена масла и маслянного фильтра в двигателе
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
											<td>
												от 750,00
											</td>
										</tr>
									</tbody>
								</table>
						</div><!-------content_in------>
				</div><!-------right------>
				<div class="clear"></div>
				
				<div class="after">
			 
						<div id="silder">
							<div id="sildercontent">
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>Неприятность, которая происходит из-за повреждения или износа. Наиболее надежным методом устранения данной неисправности является пайка. Ни холодная сварка, ни герметики в подобной ситуации не способны решить проблему столь эффективно.</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
		  
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>2</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
								
								<div class="silderitem">
									<div  class="portfoliocontent" >
										<h4>Течь радиатора охлаждения автомобиля</h4>
										<p>3</p>
										<a href="#"><img src="images/radiator_slide.png" /></a>
										<a class="more" href="#">Подробнее...</a>
									</div>
								</div>
							</div>
							
							<div id="sildernav">
								<ul id="slnav">
									<li class="slnav active"><span></span></li>
									<li class="slnav"><span></span></li>
									<li class="slnav"><span></span></li>
								</ul> 
							</div>
							
							<div class="clear"></div>
						</div><!-----slider---->
			   
			   
				</div><!-----after---->
			</div><!-----content---->
		   
			<div class="footer">
				<span>АВАНГАРД 2013 © Все права защищены</span>
			</div>
		   
		</div><!-----wrapper---->
    </body>
</html>